/*=======================================================
    ROOT
========================================================*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  /*background-color: inherit;*/
}

/*=======================================================
    BODY
========================================================*/
body {
  /*position: relative;*/
  color: #000;
  font-family: 'PT Sans', sans-serif;
}

.container {
  background-color: #000;
}

.row {
  background-color: #F0F0F0;
}

.jumbotron {
  background-color: #F0F0F0;
  padding: 0 50px;
  /*display: absolute;*/
  /*height: 100vh;*/
  /*top: 50%;*/
  /*margin-top: 40vh;*/
  /*-webkit-transform: translateY(-50%);*/
}

/*=======================================================
    BUTTONS
========================================================*/

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

.btn-start {
  width: 100%;
  margin: 0 auto;
  background-color: #22A523;
  border-color: #22A523;
}

.btn-start:hover,
.btn-start:focus,
.btn-start:active,
.btn-start.active,
.btn-start:active:focus {
  background-color: #2FAF2F;
  border-color: #2FAF2F;
}

.btn-shuffle {
  position: absolute;
  right: 0;
}

.btn-alt {
  width: 100%;
}

/*=======================================================
    TIMER BAR
========================================================*/
.progress {
  height: 30px;
}

.progress-bar {
  background-color: #4C3B46;
}

.progress-time {
  color:white;
  white-space:nowrap;
  line-height: 30px;
  font-size: 15px;
}

/*=======================================================
    WORD ENTRY
========================================================*/

.word-entry__input {
  width: 100%;
  height: 50px;
  margin: 15px auto;
  border: 0;
  border: 1px solid gray;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}

.word-entry__input[placeholder] {
  font-style: italic;
}

.word-entry__input:focus {
  outline: none;
}

.word-entry__input:disabled {
  background-color: #797979;
}
/*=======================================================
    WORDS ENTERED
========================================================*/
.words-entered__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.words-entered__item {
  /*display: inline-block;*/
  display: inline-block;
  margin: 0 5px;
  /*line-height: 50px;*/
  /*height: 50px;*/
  /*width: 50px;*/
  /*border: 1px solid black;*/
  text-align: center;
  font-size: 20px;
}

/*=======================================================
    LETTERS
========================================================*/
.letters-container {
  margin: 0 auto;
  max-width: 510px;
}

.letters-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.letters-list__entry {
  display: inline-block;
  margin: 5px 5px;
  line-height: 75px;
  height: 75px;
  width: 75px;
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

.game {
  background-color: #F0F0F0;
}