<a ui-sref="game"></a>

<div class="game container">
  <div class="new-game row">
    <button class="btn btn-primary btn-start" name="start" ng-click="startGame()" ng-show="dict">New Game</button>
  </div>
  <div class="row game-header">
    <div class="score col-xs-6">
      <h2>Score: {{score}}</h2> <!-- Score -->
    </div>
  </div>


  <!-- progress bar -->
  <div class="row">
    <progressbar max="30" value="timeleft"><span class="progress-time">{{timeleft}}</span></progressbar>
    <!-- <progressbar max="30" value="timeleft" type="{{type}}"><span style="color:white; white-space:nowrap;">{{timeleft}} / {{max}} </span></progressbar> -->
  </div>
  <!-- end progress bar -->

  <!-- Begin letters -->
  <div class="letters-container row">
    <ul class="letters-list col-md-12">
      <li class="letters-list__entry" ng-repeat="letter in letterSet track by $index" ng-animate="'animate'">{{ letter }}</li>
    </ul>
  </div> <!-- End letters -->

  <!-- Begin word-entry -->
  <!-- <div ng-show="timeleft" class="word-entry row"> -->
  <div class="word-entry row">
    <form name="word-entry__form col-xs-10">
      <input class="word-entry__input" name="word-entry" type="text" ng-model="word" ng-disabled="!timeleft" placeholder="Enter Word Here">
      <div class="col-xs-6">
      <button class="btn btn-success btn-alt" type="submit" ng-click="validWord(word)" ng-disabled="!timeleft">Submit</button>
      </div>
    <div class="col-xs-6">
      <button class="btn btn-default btn-shuffle btn-alt" ng-click="shuffleLetters(letterSet)">Shuffle </button>
    </div>
    </form>
  </div> <!-- End word-entry -->


  <div class="row words-entered"> <!-- Begin words entered -->
  <h3>Valid Words Entered:</h3>
    <ul class="words-entered__list col-md-12">
      <li class="words-entered__item" ng-repeat="word in validSubmissions">{{ word }}</li>
    </ul>
  </div>
</div> <!-- End words entered -->