<a ui-sref="game"></a>

<div class="game">
  <button name="start" ng-click="startGame()" ng-show="dict">Start Game</button>
  <p>{{ timeleft }}</p>
  <div class="letters">
    <ul class="letters-list">
      <li class="letters-list__entry"ng-repeat="letter in letterSet track by $index">{{ letter }}</li>
    </ul>
  </div>
  <div>
    <form name="word-entry-form">
      <input name="word-entry" type="text" ng-model="word">
      <button ng-click="validWord(word)">Submit</button>
    </form>
  </div>

  <div>
  <h3>Words Entered:</h3>
    <ul>
      <li ng-repeat="word in validSubmissions">{{ word }}</li>
    </ul>
  </div>
</div>


<button ng-click="randomWord()"> {{ randomWord }} </button>